*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#heading
{
    text-align: center;
    font-size: 1.7em;
    padding: 20px;
    text-shadow: 3px 3px 6px rgb(255, 36, 36), -3px -3px 6px rgb(22, 255, 236);
}

.choices, #resultLine
{
    text-align: center;

}

.results
{
    text-align: left;
    margin-left: 50px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgb(209, 209, 209);

}
.buttons{
    font-size: 7em;
    margin: 15px;
    border: none;
    cursor: pointer;
    border-radius: 200px;
    background-color: hsl(180, 100%, 61%);

}

.buttons:hover{
    background-color: hsl(180, 100%, 40%);
}


.container
{
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid rgb(22, 255, 236);
    border-top: 5px solid rgb(22, 255, 236);
    background-color: rgb(94, 94, 94);
    box-shadow: 15px 15px 30px rgb(255, 36, 36), -15px -15px 30px rgb(22, 255, 236);
    width: auto;
    height: 90vh;
    border-radius: 30px;

}

#resultLine{
    color: rgb(35, 255, 15);
}